<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quixada.ufc.br.kisan" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        -->
        </activity>
        <activity
            android:name=".activity.AddAnuncioActivity"
            android:label="@string/title_activity_add_livro"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.VisualizarMeusAnunciosActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarAnuncioActivity"
            android:label="@string/title_activity_visualizar_livro"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarPerfilActivity"
            android:label="@string/title_activity_visualizar_perfil"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarMeusAnunciosActivity"
            android:label="@string/title_activity_visualizar_meus_anuncios"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Visualizar_Localizacao_Activity"
            android:label="@string/title_activity_visualizar__localizacao_"
            android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>

    </application>

</manifest>
