<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quixada.ufc.br.kisan">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission  android:name = "android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion = "18"  />
    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".activity.VisualizarAnuncioActivity"
            android:label="@string/title_activity_visualizar_livro"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarPerfilActivity"
            android:label="@string/title_activity_visualizar_perfil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarMeusAnunciosActivity"
            android:label="@string/title_activity_visualizar_meus_anuncios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Visualizar_Localizacao_Activity"
            android:label="@string/title_activity_visualizar__localizacao_"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ConversasActivity"
            android:label="@string/title_activity_conversas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EditAnuncioActivity"
            android:label="@string/title_activity_editar"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.VisualizarMeusAnunciosActivity" />
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1682749915341471"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.PreProcessamentoActivity"
            android:label="@string/title_activity_pre_processamento"
            android:theme="@style/AppTheme.NoActionBar" />

               <service android:name="quixada.ufc.br.kisan.services.AtualizarPerfilService"  android:exported="false"></service>
        <service android:name="quixada.ufc.br.kisan.services.VisualizarMeusLivrosService"  android:exported="false"></service>

         <activity
            android:name=".activity.AddAnuncioActivity"
            android:label="@string/title_activity_add_anuncio2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
