<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quixada.ufc.br.kisan">

    <permission android:name="com.javapapers.android.gcm.chat.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.javapapers.android.gcm.chat.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Kisan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".activity.VisualizarPerfilActivity"
            android:label="@string/title_activity_visualizar_perfil"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.VisualizarMeusAnunciosActivity"
            android:label="@string/title_activity_visualizar_meus_anuncios"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.ConversasActivity"
            android:label="@string/title_activity_conversas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="quixada.ufc.br.kisan.activity.MainActivity" />
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1682749915341471"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.PreProcessamentoActivity"
            android:label="@string/title_activity_pre_processamento"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.AtualizarPerfilService"
            android:exported="false" />
        <service
            android:name=".services.ListarLivrosWhishListService"
            android:exported="false" />
        <service
            android:name=".services.VisualizarMeusLivrosService"
            android:exported="false" />
        <service
            android:name=".services.ListarLivrosService"
            android:exported="false" />

        <service
            android:name=".services.BuscarProprietarioLivroService"
            android:exported="false" />

        <activity
            android:name=".activity.AddAnuncioActivity"
            android:label="@string/title_activity_add_anuncio2"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"></activity>


        <!-- CHAT -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name=".chat.SignUpActivity" android:label="@string/app_name">
        </activity>
        <activity android:name=".chat.ChatActivity" android:label="@string/app_name">
        </activity>
        <receiver android:name=".chat.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.javapapers.android.gcm.chat"/>
            </intent-filter>
        </receiver>

        <service android:name=".chat.GCMNotificationIntentService"/>
        <activity android:name=".chat.UserListActivity" android:label="@string/title_activity_user_list">
        </activity>

    </application>

</manifest>
